@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Heavy Italic'), local('Gilroy-Heavy-Italic'),
        url('/fonts/Gilroy/Gilroy-HeavyItalic.woff2') format('woff2'),
        url('/fonts/Gilroy/Gilroy-HeavyItalic.woff') format('woff'),
        url('/fonts/Gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Chronicle Display';
    src: local('Chronicle Display Black'), local('Chronicle-Display-Black'),
        url('/fonts/chronicle-display/Chronicle\ Display\ Black.otf') format('otf');
    font-weight: 900;
    font-style: italic;
}

body {
    min-width: 320px;
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    background-color: #1e3f50;
}

input {
    outline:none;
}

a {
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
}

.wrap_all {
    max-width: 1920px;
    margin: 0 auto;

    background: url(/img/bg.png);
    background-repeat: no-repeat;
    background-color: #0B1D26;
}

.container {
    max-width: 1760px;
}

/* Styles for Header_elements............................... */

.header_elements {
    width: 100%;
    max-width: 1920px;
    position: fixed;
    z-index: 1500;
}

.header_elements a {
    opacity: 0.7;
}

.header_elements a:hover {
    color: #ffffff;
    opacity: 1;
}

.header_elements .navbar {
    background-color: #354147;
}

.header_elements .collapse .account_user a {
    text-transform: inherit;
}

.header_elements .collapse .account_user i {
    margin-left: 4px;
}

.header_elements .fa {
    padding-top: 4px;
    padding-right: 6px;
}

.header_elements .account_user {
    width: 80px;
}

.header_elements #collapsibleNavbar ul li {
    margin-right: 10px;
}

.header_elements a {
    font-family: Chronicle Display;
    text-transform: uppercase;
}

@media (max-width: 750px) {
    .header_elements a {
        text-transform: inherit;
    }
}

@media (max-width: 750px) {
    .header_elements .collapse .nav-li {
        list-style-type: disc;
        list-style-position: inside;
    }
}

.header_elements .collapse .nav-li::marker {
    color:rgb(0, 0, 255);
}

.header_elements .header_elements_item-1 span {
    font-family: Chronicle Display;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: rgb(3, 3, 0);
}

.header_elements .header_elements_item-2 {
    text-align: center;
}

.header_elements .header_elements_item-2 .head-link {
    margin: 0 20px;
}

.header_elements .header_elements_item-2 ul li {
    display: inline;
}

/* Styles for Section elements................................... */

.section_elements {
    padding-top: 250px;
}

@media (max-width: 750px) {
    .section_elements {
        padding-top: 200px;
    }
}

.section_elements .section_elements-1 {
    padding-top: 20px;
}

@media (max-width: 750px) {
    .section_elements .section_elements-1 {
        padding-top: 20px;
    }
}

.section_elements .section_social_links {
    display: flex;
    flex-direction: column;
}

.section_elements .section_elements-1 a {
    opacity: 0.7;
}

.section_elements .section_elements-1 a:hover {
    color: #ffffff;
    opacity: 1;
}

.section_elements .section_social_links .puls {
    margin-left: -5px;
    margin-bottom: 10px;
    margin-top: 10px;
    -webkit-writing-mode: vertical-rl;
    writing-mode:tb-rl;
}

@media (max-width: 750px) {
    .section_elements .section_social_links span {
        margin-top: 10px;
    }
}

.puls {
    animation: pulsate 1.2s linear infinite;
}

@-webkit-keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
    }
}

@keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
    }
}

.section_elements .section_elements-2 {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 70px;
}

@media (min-width: 600px) and (max-width: 750px) {
    .section_elements .section_elements-2 {
        max-width: 60%;
        line-height: 60px;
    }
}

@media (max-width: 600px) {
    .section_elements .section_elements-2 {
        max-width: 50%;
        line-height: 30px;
    }
}

.section_elements .section_elements-2 .section_text-1 {
    display: flex;
}

.section_elements .section_elements-2 .section_reactangle {
    width: 40px;
    height: 2px;
    margin-top: 32px;
    margin-right: 14px;
    background: rgb(251, 215, 132);
}

@media (max-width: 750px) {
    .section_elements .section_elements-2 .section_reactangle {
        margin-top: 28px;
    }
}

@media (max-width: 600px) {
    .section_elements .section_elements-2 .section_reactangle {
        max-width: 6%;
        margin-right: 12px;
        margin-top: 17px;
    }
}

.section_elements .section_elements-2 .section_text-1_text span {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}

@media (max-width: 600px) {
    .section_elements .section_elements-2 .section_text-1_text span {
        font-weight: 800;
        font-size: 10px;
        letter-spacing: 2px;
    }
}

.section_elements .section_elements-2 .section_text-2 span {
    font-family: Chronicle Display;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    text-transform: capitalize;
}

@media (max-width: 600px) {
    .section_elements .section_elements-2 .section_text-2 span {
        font-size: 24px;
    }
}

.section_elements .section_elements-2 .section_window_scroll {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.section_elements .section_elements-3 {
    padding-top: 20px;
}

@media (max-width: 750px) {
    .section_elements .section_elements-3 {
        padding-top: 20px;
    }
}

.section_elements .section_elements-3 .scroll_menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.section_elements .section_elements-3 span {
    -webkit-writing-mode: vertical-rl;
    writing-mode:tb-rl;
    margin-bottom: 10px;
}

.section_elements .section_elements-3 a {
    opacity: 0.7;
}

.section_elements .section_elements-3 a:hover {
    text-decoration: none;
    color: #ffffff;
    opacity: 1;
}

.section_elements .section_elements-3 .section_slider-2 {
    margin: 15px 0 15px 0;
}

.show-btn {
    color: red;
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
      transform: scale(.85);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(.85);
    }
  }

.section_elements  .circular-arrow {
    width: 58px;
    height: 58px;
    border: 2px solid #0c71c7;
    border-radius: 100%;
    position: relative;
    animation: down 1.5s infinite;
    margin: 100px auto 42px auto;
    box-sizing: border-box;
    background-color: #ffffff;
    cursor: pointer;
  }
.section_elements .circular-arrow::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 18px;
    width: 18px;
    height: 18px;
    border-left: 2px solid #1062a9;
    border-bottom: 2px solid #1062a9;
    transform: rotate(-45deg);
  }
  @keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}

/* Styles for Main slides..................................................... */

.main_slide_all {
    margin-top: 960px;
}

@media (max-width: 850px) {
    .main_slide_all {
        margin-top: 750px;
    }
}

@media (max-width: 560px) {
    .main_slide_all img {
        width: 100%;
    }
}

.main_slide_all .arrowTop {
    width: 45px;
    height: 35px;
    background-color:rgba(17, 53, 160, 0.808);
    margin-left: 15px;
    padding: 15px 5px 5px 17px;
    position: fixed;
    bottom: 40px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 3000;
}

.main_slide_all .arrowTop:hover {
    background-color:rgb(17, 53, 160);
}

.main_slide_all .arrow {
    width: 10px;
    height: 10px;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    position: relative;
}

.main_slide_all .arrow-top {
    transform: rotate(-45deg);
}

.main_slide_all .main_slide-1 {
    margin: 0 114.5px 200px 114.5px;
}

@media (max-width: 850px) {
    .main_slide_all .main_slide-1 {
        margin: 0;
    }
}

.main_slide_all .main_slide_content span{
    position: absolute;
    margin-top: 38px;

    font-size: 240px;
    line-height: 240px;
    letter-spacing: 0px;
    text-align: left;

    opacity: 0.1;
}

.main_slide_all .main_slide_text {
    margin: 141px 114px 140px 150px;
}

@media (max-width: 750px) {
    .main_slide_all .main_slide_text {
        margin: 141px 30px 50px 80px;
    }
}

@media (max-width: 500px) {
    .main_slide_all .main_slide_text {
        margin: 141px 30px 50px 30px;
    }
}

@media (max-width: 400px) {
    .main_slide_all .main_slide_text {
        margin: 141px 20px 50px 20px;
    }
}

.main_slide_all .main_slide_text .main_slide_text_item-1 {
    display: flex;
}

.main_slide_all .main_slide_text .reactangle {
    width: 72px;
    height: 2px;
    left: 0px;
    top: 10px;
    margin-top: 9px;
    margin-right: 32px;
    background: #FBD784;
}

.main_slide_all .main_slide_text .reactangle_text {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}

.main_slide_all .main_slide-2 {
    margin: 0 114.5px 200px 114.5px;
}

@media (max-width: 850px) {
    .main_slide_all .main_slide-2 {
        margin: 0;
    }
}

.main_slide_all .main_slide-2 .main_slide_text {
    margin: 141px 114px 140px 150px;
}

@media (max-width: 750px) {
    .main_slide_all .main_slide-2 .main_slide_text {
        margin: 141px 30px 50px 80px;
    }
}

@media (max-width: 500px) {
    .main_slide_all .main_slide-2 .main_slide_text {
        margin: 141px 30px 50px 30px;
    }
}

@media (max-width: 400px) {
    .main_slide_all .main_slide-2 .main_slide_text {
        margin: 141px 20px 50px 20px;
    }
}

.main_slide_all .main_slide-3 {
    margin: 0 114.5px 200px 114.5px;
}

@media (max-width: 850px) {
    .main_slide_all .main_slide-3 {
        margin: 0;
    }
}

#triangle-up {
	width: 0;
    height: 0;
    margin-left: 2px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 50px solid red;
}

/* Styles for Footer............................................ */

.footer_elements {
    margin: 200px 114.5px 0 114.5px;
    padding-bottom: 30px;
}

@media (max-width: 750px) {
    .footer_elements {
        margin: 40px 0 0 0;
        padding-bottom: 30px;
    }
}

@media (max-width: 750px) {
    .footer_elements .row {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
}

@media (max-width: 750px) {
    .footer_elements .footer_elements-1 {
        margin: 40px 0 0 0;
        padding-bottom: 30px;
        text-align: center;
    }
}

.footer_elements h1 {
    margin-bottom: 24px;
    color: #FBD784;
}

@media (max-width: 750px) {
    .footer_elements h1 {
        margin-bottom: 8px;
        font-size: 32px;
        display: flex;
        justify-content: center;
    }
}

.footer_elements .footer_elements_left h1 {
    font-family: Chronicle Display;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #ffffff;
}

.footer_elements .footer_elements_left p:last-child {
    position: absolute;
    bottom: 0;

    font-weight: 500;
    font-size: 18px;
    line-height: 32px;

    opacity: 0.5;
}

@media (max-width: 750px) {
    .footer_elements .footer_elements_left p:last-child {
        position: inherit;
    }
}

.footer_elements .footer_elements_left h1 {
    font-family: Chronicle Display;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #ffffff;
}

.footer_elements .footer_elements_right-1 a {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

/* Styles for Open Modal Window.................................................... */

.modals .modal {
    display: block;

    width: 100%;
    max-width: 340px;
    height: 100%;
    max-height: 384px;
    position: fixed;
    z-index: 2100;

    left: 50%;
    top: 50%;

    font-family: Chronicle Display;
    font-weight: 300;
    font-size: 14px;

    transform: translate(-50%, -50%);
    background: rgba(124, 127, 136, 0.808);
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.modals .modal label {
    color: rgba(0, 0, 0, 0.9);
}

.modals .modal .modal-header {
    border-bottom: none;
    height: 100%;
    max-height: 36px;
}

.modals .modal .modal-header .close {
    padding: 7px 11px;
}

.modals .modal .login-block_content, .modals .modal .signup-block_content {
    background-color: rgba(200, 204, 214, 0.808);
    height: 100%;
    max-height: 343px;
    margin: 0 5px 5px 5px;
}

.modals .closed {
    display: none;
}

.modals .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;

    background: rgba(0, 0, 0, 0.6);
}
.modals .modal-guts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 50px 20px 20px;
}

.modals-references div:hover {
    opacity: 1;
    color:rgb(3, 3, 0);
}

.modals-references div:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: rgb(238, 236, 236);
    height: 1px;
}
.modals-references div:hover:after {
    width: 100%;
}

.modals .modal .modal-header .modals-references .login-block {
    position: absolute;
    height: 31px;
    width: 150px;
    left: 5px;
    top: 5px;
    padding-top: 5px;
    cursor: pointer;
    text-align: center;
}

.modals .modal .modal-header .modals-references .signup-block {
    position: absolute;
    height: 31px;
    width: 150px;
    top: 5px;
    padding-top: 5px;
    margin-left: 139px;
    cursor: pointer;
    text-align: center;
}

.bgdiv {
    background-color:rgba(200, 204, 214, 0.808);
    opacity: 1;
}

.modals .modal .close:hover {
    opacity: 1;
    color: #ffffff;
}

.modals .modal .position_elements {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 25px;
}

.modals .modal input {
    width: 100%;
    max-width: 280px;
}

.modals .modal .email_block input {
    margin-right: 5px;
}

.modals .modal .email_block i {
    color: rgb(0, 128, 0);
}

.invalid_mail {
    border-color: rgb(255, 0, 0);
}

.modals .modal .login-modal_btn {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.modals .modal .login-modal_btn .login_button {
    width: 100%;
    max-width: 280px;

    background: #354147;
    color: #ffffff;
}

.modals .modal .login-modal_btn .login_button:hover {
    background-color:rgba(200, 204, 214, 0.808);
}

.modals .modal .login-modal_btn .login_button i {
    margin-top: 5px;
}

.modals .signup-modal_body span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
}

.modals .signup-modal_body label {
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 0;
}

.modals .modal .signup-modal_btn .signup_button {
    width: 100%;
    max-width: 280px;

    background: #354147;
    color: #ffffff;
}

.modals .modal .signup-modal_btn .signup_button:hover {
    background-color:rgba(200, 204, 214, 0.808);
}

.modals .modal .signup-modal-btn .signup_button i {
    margin-top: 5px;
}

.modals .modal .signup-modal_btn {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}







